/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/*font-family: 'Righteous', cursive;
  font-family: 'Sarala', sans-serif;*/

* { /*reset CSS*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /*configurando a fonte do meu jeito*/
  font-size: 62.5%;

  /* 1rem = 100% = 16px (normalmente) */
  /* 1rem = 62.5% = 10px (agora) */

  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);

}

.cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2.4rem;
}

.cabecalho-imagem {
  height: 7.2rem;
}

.cabecalho-menu {
  display: flex;
  gap: 3.2rem;
}

.cabecalho-menu-item {
  text-decoration: none;
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 1.8rem;
}

.conteudo {
  margin-bottom: 4.8rem;
  border-top: .04rem solid #FFF2E7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.conteudo-principal-texto{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.conteudo-principal-texto-titulo {
  font-family: 'Righteous', cursive;
  font-size: 6.4rem;
  font-weight: 400;
  color:#FFF2E7
}

.conteudo-principal-texto-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  color: #ECD6C4;
}
.conteudo-principal-texto-botao {
  background-color: #ECD6C4;
  width: 18rem;
  height: 6rem;
  border: none;
  box-shadow: .4rem .5rem .4rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;

  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 2.4rem; 
  color: #2F2325;
}

.conteudo-principal-texto-botao:hover {
  background-color: rgba(0236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 43rem;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  margin-top: 4.8rem ;
}

.conteudo-secundario-titulo {
  border-top: .04rem solid #FFF2E7;
  padding-top: 4.8rem;
  margin-bottom: 1.6rem;

  font-family: 'Rightous', cursive;
  font-weight: 400;
  font-size: 3.2rem;
  color: #FFF2E7;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #ECD6C4;
}

.rodape {
  padding: 3.2rem;

  border-top: .04rem solid #FFF2E7;
}

.rodape-imagem {
  height: 4.8rem;

  display: block;
  margin: 0 auto;
}